<div class="form-container sign-up-container" align="center">
  <div>
  <form #signUpForm="ngForm"   >

    <h1>Valider ton Role</h1>



    <div  >
      <label  data-error="Please verify role">Je suis</label>

      <select required class="browser-default"  #role="ngModel"  name="role" id="role" [(ngModel)]="signupUser.role" >
        <option value="" required disabled selected>Choose option</option>
        <option *ngFor="let role of rol" [value]="role.id" >{{ role.value }}</option>
      </select>
      <small class="text-danger" >Please choose a topic</small>
    </div>

    <div *ngIf="signupUser.role === 'ETUDIANT'">
      <div class="input-field col s6">
        <input required #niveau="ngModel"  type="text" class="validate" name="niveau" [(ngModel)]="signupUser.niveau">
        <label  data-error="Please verify your email">Niveau</label>
      </div>
      <div class="input-field col s6">
        <input required #specialite="ngModel"  type="text" class="validate" name="specialite" [(ngModel)]="signupUser.specialite">
        <label >Specialite</label>
      </div>

    </div>


    <div>
      <button  (click)="onValidate()">Valider</button>
    </div>
  </form>
  </div>
</div>
